<% provide(:title, 'About Us') %>
<h5>About Us</h5>
<br>
<p>
    Hey, PIKSAPP is a new picture slide show maker in which every user can add his/her images
    in their own albums within their account, so go ahead and enjoy the features provided by
    web application.
</p>

